@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.gstatic.com/s/worksans/v9/nuFvD-vYSZviVYUb_rj3ij__anPXDTnCjmHKM4nYO7KN_qI.woff2') format('woff2');
}


body {
  font-family: 'Work Sans', sans-serif;
  background: url("/assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

main {
  width: 450px;
  background-color: white;
  box-shadow: 5px 5px 10px hsl(0, 1%, 73%);
  border-radius: 15px;
  padding-left: 35px;
  padding-right: 35px;
}

h1 {
  font-weight: 700;
  font-size: 2.5em;
  color: hsl(292, 42%, 14%);
}

h4 {
  color: hsl(292, 42%, 14%);
}

h4:hover {
  color: hsl(292, 16%, 49%);
}

p {
  font-size: 16px;
  font-weight: 400;
  color: hsl(285, 2%, 64%);
}

p.visible {
  display: block;
}

h4.active {
  color: hsl(292, 16%, 49%);
}

h4.active:hover {
  color: hsl(292, 42%, 14%);
}

.attribution {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 12px;
}

.attribution a {
  text-decoration: none;
  color: rgb(134, 106, 186);
}